<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= typeof title != 'undefined' ? title : 'Auriga' %></title>
<link rel="icon" href="/resources/favicon.png" type="image/png">
<link rel="stylesheet" href="/resources/css/style.css">

<!-- external resources -->
<link rel="stylesheet"
      href="/resources/external/modern-normalize.css"
      integrity="sha256-tNxXsOT6dx9hXElc6ZSLWyMEp94gnMIxPGrJqzCZ1Ww=">

<link rel="stylesheet" href="/resources/external/bolt.min.css">
