<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <span class="bi me-4" width="40" height="32"></span>
        <span class="fs-4">Auriga</span>
        <span class="bi me-4" width="40" height="32"></span>
    </a>

    <!-- aria-current was set here. -->

    <ul class="nav nav-pills">
        <li class="nav-item">
            <a href="/dashboard"
               class="nav-link <%= typeof dashboard != 'undefined' ? 'active' : '' %>">
                Dashboard
            </a>
        </li>
        <li class="nav-item"><a href="/events" class="nav-link <%= typeof events != 'undefined' ? 'active' : '' %>">Events</a></li>
        <li class="nav-item"><a href="/volunteers" class="nav-link <%= typeof volunteers != 'undefined' ? 'active' : '' %>">Volunteers</a></li>
        <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
    </ul>
</header>
