<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head', {title: 'Dashboard'}); %>
    </head>
    <body>
        <%- include('./partials/navigation'); %>
    </body>
</html>
