<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head', {title: 'Events'}); %>
    </head>
    <body>
        <%- include('./partials/navigation', {events: true}); %>
    </body>
</html>
