<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head', {title: 'Register'}); %>
  </head>
  <body>
    <main>
      <form action="/register" method="post">
        <div>
          <label for="name">Enter your NGO name: </label>
          <input type="text" name="name" id="name" required>
        </div>
        <div>
          <label for="email">Enter email address: </label>
          <input type="email" name="email" id="email" required>
        </div>
        <div>
          <label for="password">Enter Password: </label>
          <input type="password" name="password" id="password" required>
        </div>
        <div>
          <label for="password">Confirm Password: </label>
          <input type="password" name="confirmPassword" id="confirmPassword" required>
        </div>

        <div class="form-example">
          <input type="submit" value="Submit">
        </div>
      </form>

    </main>
  </body>
</html>
