<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head', {title: 'Register'}); %>
    <style>
      html,
      body {
          height: 100%;
      }

      body {
          display: flex;
          align-items: center;
          padding-top: 40px;
          padding-bottom: 40px;
          background-color: #f5f5f5;
      }

      .form-signin {
          max-width: 330px;
          padding: 15px;
      }

      .form-signin .form-floating:focus-within {
          z-index: 2;
      }

      .form-signin input[type="email"] {
          margin-bottom: -1px;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
      }

      .form-signin input[type="password"] {
          margin-bottom: 10px;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
      }
    </style>
  </head>
  <body class="text-center">
    <main class="form-signin w-100 m-auto">
      <form action="/register" method="post">
        <h1 class="h3 mb-3 fw-normal">Register</h1>

        <div class="form-floating">
          <input type="text" name="ngoName" class="form-control" id="ngoName" placeholder="Organization Name">
          <label for="ngoName">Organization Name</label>
        </div>
        <div class="form-floating">
          <input type="email" name="email" class="form-control" id="email"
                 placeholder="name@example.com" aria-describedby="emailHelp">
          <label for="email">Email address</label>
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="form-floating">
          <input type="password" name="password" class="form-control" id="password" placeholder="Password">
          <label for="password">Password</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
        <p style="margin: 1em">already have an account? <a href="/login">login!</a></p>
        <p class="mt-5 mb-3 text-muted">© 2023</p>
      </form>
    </main>
  </body>
</html>
